.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


button {
    background-color: #1010AA; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
}
button:hover {
    background-color: #000000;
    color: white;
}

button:disabled {
    background-color: #555555;
    color: white;
}
